.three-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
  padding-top: 50px;
}
.card3 {
  color: #fff;
  text-align: center;
  width: 32%;
  padding: 60px 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
}
.vision {
  background-color: #3a73a8;
}
.mission {
  background-color: #062e4a;
}
.pillars {
  background-color: #d9a867;
}
.card3 img {
  text-align: center;
  width: 70px;
}
.card3 .card-title {
  font-size: 30px;
}
.card3 .content {
  font-size: 20px;
}
.card3 > p {
  margin-top: 30px;
}

/*منهج الاستدامة*/
/*7 cards*/
#seven-cards {
  margin: 80px 0 !important;
  padding-top: 0;
  position: relative;
}

#seven-cards::before{
  content: "";
  position: absolute;
  top: 10%;
  right: 0%;
  width: 100%;
  height: 80%;
  background-color: #ffffff;
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hexagon {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
  color: white;
  padding: 35px;
}
.card7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -19px -27px;
}
.card7 h2 {
  font-size: 35px;
}
.card7 p {
  line-height: 25px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}
.gray-hexagon {
  position: absolute;
  background-color: #89898933;
  width: 130px;
  height: 120px;
  clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
}

.gray-hexagon2 {
  position: absolute;
  background-color: #89898933;
  width: 70px;
  height: 60px;
  clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
}
.gray1 {
 top: -50px;
    right: 233px;
}
.gray2 {
top: -57px;
    right: 167px;
}
.gray3 {
top: -40px;
    left: 233px;
}
.gray4 {
      top: 275px;
    left: 279px;
}

/*employee*/
.employee {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.employee th,
.employee td {
  padding: 8px 12px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #b5cadd;
}
.employee .thin > th {
  font-weight: lighter;
  color: #b5cadd;
}

.employee td {
  border-bottom: 8px solid #ebeff8dd;
}
.employee td:first-child {
  width: 25%;
  text-align: start;
  padding-right: 25px;
}

/* Header */
.employee thead th {
  text-align: center;
  background-color: #062e4a;
  color: white;
}

/* Sub-header */
.employee .sub-header th {
  background-color: #d9a867;
  color: white;
}

/* Footer totals */
.employee .footer-totals td {
  background-color: #d9a867;
}

/* Footer percentages */
.employee .footer-percent td {
  background-color: #062e4a;
  color: white;
}

/*charts*/
#nationality-charts{
  margin: 80px 0 20px 0 !important;
  padding: 20px 0;
  background-color: #ffffff;
}
#gender-charts{
    margin:  0 !important;
  padding: 20px 0;
  background-color: #ffffff;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.chart-item {
  width: 22%;
  margin: 20px 0;
}

.chart-item canvas {
  width: 100% !important;
  height: auto !important;
}

.chart-label {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.chart-title {
  color: #005491;
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: 24px;
}

.summary-container {
  margin-top: 20px;
}

/*nationality*/
.nationality {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nationality-title {
  color: #005491;
  text-align: center;
  margin-bottom: 50px;
}
.nationality-card {
  background-color: #fff;
  margin: 2px;
  width: 23%;
  padding: 20px;
  text-align: center;
  color: #062e4a;
}
.nationality-card p {
  font-weight: 700;
  font-size: 20px;
}
.nationality-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.percentage {
  background-color: #005491;
  color: #fff;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 700;
  min-width: 48%;
}

.employee-count {
  background-color: #d9a867;
  color: #062e4a;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 700;
  min-width: 48%;
}

.total-card {
  background-color: #062e4a;
  color: white;
  font-weight: bold;
}
.employee-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.employee-color > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/*trinees*/

.trainees {
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0 100px 0;
  background-color: white;
}

.noBoarders{
  border-bottom: none !important;
    border-top: none !important;

}
.trainees th,
.trainees td {
  padding: 8px 12px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #b5cadd;
}

.trainees th {
  background-color: #062e4a;
  color: #fff;
}
.trainees td:first-child {
  width: 20%;
}

.footer-total {
  background-color: #efdabe;
  text-align: center;
}
.hr-cards {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 100px 0;
}

.hr-card {
  background-color: #ffff;
  padding: 20px;
  width: 30%;
  text-align: center;
}

.hr-card h3 {
  color: #c6822a;
  margin: 0;
  font-size: 36px;
}

.hr-card p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.hr-achievement {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hr-achievement h3 {
  color: #005491;
  font-size: 40px;
}
.hr-achievement p {
  font-size: 20px;
  margin-bottom: 50px;
}
.hr-achievement p span {
  display: block;
}
.img-cont {
  width: 50%;
}
.img-cont img {
  width: 100%;
}

.hr-footer {
  margin: 50px 0;
  text-align: center;
}

/*employee-care*/
.employee-care {
  position: relative;
  width: 800px;
  height: 600px;
  text-align: center;
  margin: 100px auto 50px auto;
}
.center-circle {
  background: linear-gradient(270deg, #ffffff 5.62%, #e3eaf2 104.25%);
  border: 10px solid #062e4a;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #3a73a8;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  z-index: 2;
}
.outer-circles {
  position: relative;
  width: 100%;
  height: 100%;
}
.circle-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background: linear-gradient(270deg, #ffffff 5.62%, #e3eaf2 104.25%);
  border: 10px solid #3a73a8;
  border-radius: 50px;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 700;
    width: 336px;
      height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.small-circle {
  background: linear-gradient(270deg, #ffffff 5.62%, #e3eaf2 104.25%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 12px solid #3a73a8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0;
}
.yellow {
  border-color: #c6822a;
}
.small-circle::after {
  content: "";
  display: block;
  width: 4px;
  height: 35px;
  background-color: #fff;
  position: absolute;
  top: 73%;
  left: -178%;
transform: translate(-50%, -60%) rotate(88deg);
}

.small-circle:nth-child(8) {
  transform: rotate(-8deg) translate(120px);
}
.small-circle:nth-child(9) {
  transform: rotate(51.42deg) translate(101px);
}
.small-circle:nth-child(10) {
transform: rotate(137.84deg) translate(113px);
}
.small-circle:nth-child(11) {
  transform: rotate(189.26deg) translate(120px);
}
.small-circle:nth-child(12) {
  transform: rotate(229.68deg) translate(132px);
}
.small-circle:nth-child(13) {
  transform: rotate(269.1deg) translate(139px);
}
.small-circle:nth-child(14) {
  transform: rotate(308.52deg) translate(134px);
}

.circle-container:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-container:nth-child(2) {
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.circle-container:nth-child(3) {
  top: 20%;
  right: 10%;
  transform: translate(50%, -50%);
}
.circle-container:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.circle-container:nth-child(5) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.circle-container:nth-child(6) {
  bottom: 20%;
  left: 10%;
  transform: translate(-50%, 50%);
}
.circle-container:nth-child(7) {
  bottom: 20%;
  right: 10%;
  transform: translate(50%, 50%);
}

.employee-care-footer {
  font-size: 25px;
margin: 0px 150px 40px 0px;
word-spacing: 5px;
}

h5 {
  background-color: #ffffff;
  color: #3a73a8;
  font-size: 20px;
  height: 80px;
  margin: 30px 50px;
padding: 20px 65px;
  border-radius: 8px;
}

.tableChanges,
.tableContribution {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
}
.tableChanges th,
.tableChanges td,
.tableContribution th,
.tableContribution td {
  padding: 20px;
  border: 1px solid #b5cadd;
}
.tableChanges th,
.tableContribution th {
  background-color: #062e4a;
  color: #fff;
  width: 20%;
  font-size: 25px;
  font-weight: 700;
  padding: 45px;
  text-align: start;
}
.tableChanges td,
.tableContribution td {
  background-color: #fff;
  font-size: 20px;
  border-bottom: 4px solid #ebeff8dd;
}
.table-title {
  background-color: #062e4a;
  color: #fff;
  width: 80%;
  height: 45px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 40px auto 0 0;
}

.tableChanges ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
  font-weight: 400;
}

.tableChanges ul li {
  font-size: 16px;
  line-height: 20px;
  list-style-type: square;
  margin-right: 20px;
}

.tableContribution,
.tableContribution th {
  text-align: center;
  margin-top: 50px;
}
.tableContribution td {
  font-weight: 700;
}
.tableContribution td:first-child {
  text-align: start;
  margin-right: 30px;
}

.best-environment{
display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.environment-chart {
  margin: 20px 0;
  width: 50%;
}
.environment-chart svg{
  text-align: center;
  margin: 0 25%;
}
.environment-chart div{
display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #ffffff;
  padding: 20px 10px;
  margin: 30px 0;
}

/*goals*/
.goals-title {
  color: #ffffff;
  background-color: #d9a867;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}
.goals-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 100px;
}

.one-card {
  width: 32%;
  margin-bottom: 40px;
  background-color: white;
  padding: 30px;
  position: relative;
  text-align: center;
  border-top-width: 8px;
  border-top-style: solid;
}

.logo-div {
  width: 115px;
  height: 94.3px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: -50px;
  right: 0px;
}
.logo-div span {
  font-weight: 700;
  font-size: 50px;
  line-height: 93.7px;
}

.one-card p {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-top: 30px;
  vertical-align: center;
  line-height: 40px;
}

/*الهدف 3*/

.small-triangle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 95.37px;
  background-color: #062e4a;
  clip-path: polygon(99% 0, 0 0, 0 100%);
}
.moving-number2 {
  position: absolute;
  top: -12px;
  left: 12px;
  font-weight: 700;
  font-size: 50px;
  line-height: 93.7px;
  color: white;
}
.card-4-2 {
  width: 49%;
  background-color: white;
  position: relative;
  margin-top: 10px;
}

/*الهدف 4*/
.four-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin-top: 30px;
}

.card-content-four2 {
  width: 100%;
  position: relative;
padding: 30px 50px;
}

.card-content-four2 ul li {
  font-size: 1rem;
    line-height: 1.875rem;
    list-style-type: square;
    margin-right: 40px;
}

.card-content-four {
  width: 100%;
  position: relative;
  padding: 110px 50px;
}
.card-content-four p {
  font-size: 16px;
}

.card-4 {
  height: 306px;
  /* width:555.24px; */
  width: 49%;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%, 0 69%);
  position: relative;
  margin-top: 10px;
}

.small-triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 104px;
  height: 95.37px;
  background-color: #062e4a;
}
.moving-number {
  position: absolute;
  bottom: 20px;
  left: 52px;
  font-weight: 700;
  font-size: 50px;
  line-height: 93.7px;
  color: white;
}

/*الهدف 5*/

.goal5-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.one-card2 {
  width: 49%;
  /* height: 200px; */
  margin: 50px 0;
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.logo-div2 {
  /* width: 115px; */
  height: 94.3px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0 30px;
}
.logo-div2 span {
  font-weight: 700;
  font-size: 50px;
  line-height: 93.7px;
}

.one-card2 p {
  font-size: 18px;
  color: #333;
}

@media (max-width: 1200px) {
  .nationality-card {
    width: 30%;
  }

  .goals-cards {
    justify-content: space-around;
  }

  .one-card {
    width: 32%;
  }
}
@media (max-width: 992px) {
  .chart-container {

  margin-bottom: 50px;
}
.chart-item {
  width: 49%;
}
  .employee-care {
    width: 86%;
  }
  .circle {
    width: 80%;
  }
  .employee-care-footer {
    font-size: 25px;
    margin: 0;
  }
  .goals-cards {
    justify-content: space-between;
  }

  .one-card {
    width: 48%;
  }
  .nationality-card {
    width: 45%;
  }
  .img-cont {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .three-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card3 {
    width: 100%;
  }
  #seven-cards {
    background-color: transparent;
  }
  .card7 {
    width: 70%;
    margin: 10px 0;
  }

  .card-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .gray-hexagon,
  .gray-hexagon2 {
    display: none;
  }

  .hr-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hr-card {
    width: 100%;
    margin-bottom: 50px;
  }

  .hr-achievement {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hr-achievement div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hr-achievement img {
    display: none;
  }

  .employee-care {
    width: 100%;
    height: 100%;
  }

  .center-circle,
  .small-circle,
  .small-circle::after {
    display: none;
  }
  .outer-circles {
    position: static;
  }
  .circle-container {
    flex-direction: column;
    width: 100%;
    position: static;
    transform: none !important;
  }
  .circle {
    width: 100%;
    height: 70px;
    font-size: 14px;
    margin: 25px 0;
  }

  h5 {
    height: fit-content;
    margin: 20px 0px;
  }

  .table-title {
    width: 72%;
  }

  .tableChanges th {
    background-color: #062e4a;
    color: white;
    padding: 10px;
  }

  .tableChanges td {
    background-color: #fff;
    padding: 10px;
  }

  .tableChanges tr {
    border: 1px solid #b5cadd;
  }

  .tableContribution th {
    padding: 20px;
    font-size: 10px !important;
  }
  .tableContribution td {
    font-size: 10px !important;
    padding: 10px;
  }

  .best-environment{
flex-direction: column;  
   width: 100%;

}

.environment-chart {
  margin: 20px 0;
  width: 100%;
}
.environment-chart svg{
  text-align: center;
  margin: 0 25%;
  width: 60%;
}
.environment-chart div{
 width: 100%;
 text-align: center;
  
}

  .goals-cards {
    flex-direction: column;
    align-items: center;
  }

  .one-card {
    width: 100%;
    margin: 30px 0;
  }

  .logo-div {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .four-cards {
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }
  .card-4-2 {
    width: 100%;
  }

  .card-content-four {
    width: 100%;
    position: relative;
    padding: 50px;
  }

  .card-content-four h2 {
    font-size: 1.875rem;
    color: #3a73a8;
    font-weight: 700;
    line-height: 3.514rem;
    z-index: 2;
    margin-bottom: 5px;
  }

  .card-content-four ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  .card-content-four ul li {
    font-size: 1rem;
    line-height: 1.875rem;
    list-style-type: square;
    margin-right: 20px;
  }

  .card-4 {
    height: 306px;
    /* width:555.24px; */
    width: 100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%, 0 69%);
    position: relative;
    margin-top: 10px;
  }
  .small-triangle {
    left: -25px;
  }
  .moving-number {
    left: 45px;
  }

  .goal5-cards,
  .one-card2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .one-card2 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /*employee*/
  .employee-container {
    max-width: 100%;
    overflow-x: auto;
  }
  /*charts*/
  .chart-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chart-item{
    width: 100%;
  }

  .nationality-card {
    width: 90%;
  }

  .tableChanges th {
    font-size: 16px;
    padding: 8px;
    min-width: 80px;
  }

  .tableChanges td {
    font-size: 14px;
    padding: 8px;
  }

  .four-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
  }
  .card-content-four {
    width: 100%;
    position: relative;
    padding: 20px;
  }

  .card-content-four h2 {
    font-size: 25px;
    color: #3a73a8;
    font-weight: 700;
    line-height: 3.514rem;
    z-index: 2;
    margin-bottom: 5px;
  }

  .card-content-four ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  .card-content-four ul li {
    font-size: 16px;
    line-height: 20px;
    list-style-type: square;
    margin-right: 20px;
  }

  .card-4 {
    height: 306px;
    /* width:555.24px; */
    width: 100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%, 0 74%);
    position: relative;
    margin-top: 10px;
  }

  .small-triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: #062e4a;
  }
  .moving-number {
    position: absolute;
    bottom: 10px;
    left: 45px;
    font-weight: 700;
    font-size: 50px;
    line-height: 93.7px;
    color: white;
  }
}
