.governance-pillars {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 50px 0;
  padding: 20px 0;
  width: 90%;
  position: relative;
}
.governance-steps div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}
.governance-circle {
  width: 32.65px;
  height: 32.65px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
.governance-img {
  position: absolute;
  top: -17px;
  left: -183px;
}
.governance-img img {
  max-width: 300px;
}

.gov-axes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gov-card {
  width: 25%;
  background-color: white;

  margin: 20px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.bottom-row .gov-card {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
.card-name {
  padding: 38px 50px 17px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gov-card h3 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.gov-card-number {
  position: absolute;
  color: white;
  padding: 0px 6px;
  border-radius: 0 0 30% 30%;
  font-size: 24px;
  font-weight: 700;
}

.top-row .gov-card-number {
  top: -10px;
  left: 10px;
}

.bottom-row .gov-card-number {
  bottom: -10px;
  left: 10px;
}

.gov-card-1 .gov-card-number,
.gov-square-1,
.gov-square-center-1 {
  background-color: #005491;
}
.gov-card-2 .gov-card-number,
.gov-square-2,
.gov-square-center-2 {
  background-color: #d9a867;
}
.gov-card-3 .gov-card-number,
.gov-square-3,
.gov-square-center-3 {
  background-color: #16a851;
}
.gov-card-4 .gov-card-number,
.gov-square-4,
.gov-square-center-4 {
  background-color: #c6822a;
}
.gov-card-5 .gov-card-number,
.gov-square-5,
.gov-square-center-5 {
  background-color: #c6822a;
}
.gov-card-6 .gov-card-number,
.gov-square-6,
.gov-square-center-6 {
  background-color: #16a851;
}
.gov-card-7 .gov-card-number,
.gov-square-7,
.gov-square-center-7 {
  background-color: #d9a867;
}
.gov-card-8 .gov-card-number,
.gov-square-8,
.gov-square-center-8 {
  background-color: #005491;
}
.gov-card-5 .gov-card-number,
.gov-card-6 .gov-card-number,
.gov-card-7 .gov-card-number,
.gov-card-8 .gov-card-number {
  border-radius: 30% 30% 0 0;
}
.gov-card-number::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid;
  top: 0px;
  transform: translateY(0);
  right: -9px;
  z-index: -1;
}

.gov-card-1 .gov-card-number::before {
  border-bottom-color: #002038;
}

.gov-card-2 .gov-card-number::before {
  border-bottom-color: #654f31;
}

.gov-card-3 .gov-card-number::before {
  border-bottom-color: #0d5a2c;
}

.gov-card-4 .gov-card-number::before {
  border-bottom-color: #5c3d15;
}

.gov-card-5 .gov-card-number::before,
.gov-card-6 .gov-card-number::before,
.gov-card-7 .gov-card-number::before,
.gov-card-8 .gov-card-number::before {
  top: 30px;
  bottom: -30px; 
  transform: rotate(180deg);
  right: -9px;
}

.gov-card-5 .gov-card-number::before {
  border-bottom-color: #5c3d15;
}

.gov-card-6 .gov-card-number::before {
  border-bottom-color: #0d5a2c;
}

.gov-card-7 .gov-card-number::before {
  border-bottom-color: #654f31;
}

.gov-card-8 .gov-card-number::before {
  border-bottom-color: #002038;
}

.center-gov-card {
  background-color: #013243;
  color: white;
padding: 15px 45px;
  margin: 120px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.gov-square-center {
  width: 15px;
  height: 15px;
  position: absolute;
}

.gov-square-center-1 {
  top: -30px;
right: 34%;
}
.gov-square-center-2 {
  top: -30px;
  right: 43%;
}
.gov-square-center-3 {
  top: -30px;
  right: 51%;
}
.gov-square-center-4 {
  top: -30px;
  right: 60%;
}

.gov-square-center-5 {
  bottom: -30px;
  right: 34%;
}
.gov-square-center-6 {
  bottom: -30px;
  right: 43%;
}
.gov-square-center-7 {
  bottom: -30px;
  right: 51%;
}
.gov-square-center-8 {
  bottom: -30px;
  right: 60%;
}

.gov-square {
  width: 15px;
  height: 15px;
  position: absolute;
}

.top-row .gov-square {
  top: 110%;
  right: 50%;
}

.bottom-row .gov-square {
  bottom: 110%;
  right: 50%;
}

.line {
  position: absolute;
  border-bottom: 3px dashed transparent;
border-image: repeating-linear-gradient(to right, #bcbec0 0, /* Start color */ #bcbec0 13px, /* Dash width (10px) */ transparent 13px, /* Start of the space between dashes */ transparent 25px /* Space width (20px) */) 1;
    transform: rotateZ(90deg);
z-index: -1;
}

.line-1-1 {
  top: 150%;
    right: 41.5%;
    width: 23%;
}
.line-1-2 {
transform: rotateZ(0);
   top: 175%;
    right: 51.5%;
    width: 125%;
    
}
.line-1-3 {
   top: 184%;
    right: 172.5%;
    width: 7%;
}

.line-2-1 {
  top: 128%;
    right: 50%;
    width: 5%;
}
.line-2-2 {
    
transform: rotateZ(0);
 top: 135%;
    right: 52.5%;
    width: 38%;
}
.line-2-3 {
  top: 164%;
    right: 78.5%;
    width: 23%;
}

.line-3-1 {
  top: 128%;
    left: 45%;
    width: 5%;
}
.line-3-2 {
    
transform: rotateZ(0);
  top: 135%;
    left: 47%;
    width: 49%;
}
.line-3-3 {
 top: 164%;
    left: 85.5%;
    width: 23%;
}

.line-4-1 {
  top: 149%;
    left: 35.5%;
    width: 23%;
}
.line-4-2 {
   transform: rotateZ(0);
   top: 174%;
    left: 47%;
    width: 136%;
}
.line-4-3 {
   top: 184%;
    left: 180.5%;
    width: 5%;
}

.line-5-1 {
bottom: 140%;
    right: 41%;
    width: 23%;
}
.line-5-2 {
transform: rotateZ(0);
bottom: 163%;
    right: 51.5%;
    width: 125%;
    
}
.line-5-3 {
bottom: 166%;
    right: 172.5%;
    width: 7%;
}

.line-6-1 {
 bottom: 124%;
    right: 50%;
    width: 5%;
}
.line-6-2 {
    
transform: rotateZ(0);
    bottom: 129%;
    right: 52.5%;
    width: 38%;
}
.line-6-3 {
  bottom: 150%;
    right: 79%;
    width: 23%;

}

.line-7-1 {
bottom: 124%;
    left: 45%;
    width: 5%;
}
.line-7-2 {
    
transform: rotateZ(0);
    bottom: 129%;
    left: 47%;
    width: 49%;
}
.line-7-3 {
bottom: 152%;
    left: 85.5%;
    width: 23%;
}

.line-8-1 {
 bottom: 140%;
    left: 36%;
    width: 23%;
}
.line-8-2 {
  transform: rotateZ(0);
    bottom: 164%;
    left: 47%;
    width: 136%;
}
.line-8-3 {
 bottom: 170%;
    left: 180.5%;
    width: 5%;
}

/*              الهيكل التنظيمي للشركـة*/
.ownersTable {
  margin: 50px auto 5px auto;
  width: 100%;
  border-collapse: collapse;
  direction: rtl;
}

.ownersTable th {
  background-color: #062e4a;
  color: #fff;
  font-size: 20px;
  padding: 30px;
  border: 1px solid #ebeff8dd;
}

.ownersTable td {
  background-color: #fff;
  border: 1px solid #b5cadd;
  text-align: center;

  font-weight: 700;
  padding: 20px;
}
.ownersTable th:first-child {
  width: 35%;
}
.ownersTable td:nth-child(2) {
  color: #939598;
}
.ownersTable td:last-child {
  /* width: 9.5%; */
}
.ownersTable td span {
  font-weight: 400;
}

/*     الحوكمـة وإدارة العمل*/
.behavior-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
}
.behavior-cards > div {
  width: 23%;
  height: 160px;
  background-color: rgba(137, 137, 137, 0.1);
  text-align: center;
  padding: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*                   الحوكمة وتعزيز الآثار الاقتصادية*/
#card-grid {
  padding: 40px 0px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  text-align: right;
  direction: rtl;
}

.card {
  background-color: white;
  padding: 20px 30px 0px 0px;
  position: relative;
  overflow: hidden;
  height: 180px;
}

.card::before {
  content: "";
  position: absolute;
  right: 0;
  top: 22%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ebeff8dd;
}

.card h3 {
  color: #3a73a8;
  font-size: 20px;
  font-weight: 700;
  line-height: 37.48px;
  margin-bottom: 10px;
  padding: 0 0px 0 40px;
}

.card p {
  color: #333;
  font-size: 16px;
  line-height: 29.98px;
  font-weight: 700;
  padding: 0 0px 0 40px;
}

.table-title {
  background-color: #c6822a;
  color: #fff;
  min-height: 45px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 40px auto 0 0;
}
#yearTable {
  margin: auto;
}
#yearTable th {
  width: 30%;
}
#yearTable td:nth-child(2) {
  color: black;
}

.footnote {
  margin-top: 10px;
  font-size: 12px;
  text-align: left;
  color: #333;
  font-style: italic;
}

.work li {
  font-size: 1.5rem;
  line-height: 1.875rem;
  list-style-type: decimal;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .behavior-cards > div {
    width: 32%;
  }
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card::before {
    border-right: 15px solid #c7cdd8;
  }
}

@media (max-width: 768px) {
  .governance-pillars {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
  }
  .governance-img {
    position: static;
  }

  .ownersTable th,
  .ownersTable td {
    padding: 10px;
    font-size: 14px;
  }
  .ownersTable th {
    font-size: 16px;
  }
  .behavior-cards > div {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .center-gov-card,
  .gov-square-center,
  .line {
    display: none;
  }
  .top-row,
  .bottom-row {
    flex-direction: column;
    align-items: center;
  }
  .gov-card {
    width: 100%;
  }

  .ownersTable {
    width: 100%;
    overflow-x: auto;
    display: block;
  }
  .ownersTable th,
  .ownersTable td {
    padding: 8px;
    font-size: 12px;
  }
  .ownersTable th {
    font-size: 14px;
  }

  .bottom-row .gov-card-number {
    top: -10px;
    left: 10px;
    bottom: unset;
  }
  .gov-card-5 .gov-card-number,
  .gov-card-6 .gov-card-number,
  .gov-card-7 .gov-card-number,
  .gov-card-8 .gov-card-number {
    border-radius: 0 0 30% 30%;
  }
  .gov-card-5 .gov-card-number::before,
  .gov-card-6 .gov-card-number::before,
  .gov-card-7 .gov-card-number::before,
  .gov-card-8 .gov-card-number::before {
    top: 0px;
    transform: translateY(0);
    right: -9px;
  }

  .behavior-cards > div {
    width: 100%;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .card::before {
    border-right: 10px solid #c7cdd8;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #ebeff8dd;
  }
}
